body {
    margin: 0;
    height: 100vh;
    font-family: MedievalSharp, sans-serif;
    background-color: rgb(0, 0, 0)
}

header {
    text-align: center;
    background-color: rgb(0, 0, 0)
}
header h1 {
    margin-bottom: 0;
    color: #ffffff;
    margin-top: 0;
}
header p {
    margin-top: 5px;
    color: #ffffff;
    font-style: italic;
}

#image {
    display: block;
    max-width: 100%;
    height: 600px;
    width: 800px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
    object-fit: cover;
    
}

#img-div {
    margin-bottom: 0;
    padding-bottom: 0;
}

#img-caption {
    color: #ffffff;
}

#tribute-info {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    
}
ul {
    /* text-align: center; */
}

.list-title {
    font-weight: bold;
    font-size: 20px;
}

#tribute-title {
    font-weight: bold;
    font-size: 26px;
}

#bilbo-name {
    font-weight: bold;
    font-style: italic;
}

#summary {
    margin-bottom: 0;
    font-size: 22px;
    padding: 20px 30px;
}

fieldset {
    border-left: none;
    border-right: none;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: rgb(255, 255, 255)
}